.heroheader {
  color: var(--new-styles-text-heading, #292a29);
  font-family: MADE Mellow PERSONAL USE;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
}
.heroheaderpayroll {
  color: var(--new-styles-primary-eazi-green, #11453b);
}

.heroheadereasily {
  color: var(--new-styles-secondary-army, #b4a572);
}

.heroheadersecond {
  color: var(--new-styles-secondary-strawberry, #ea4e4b);
}

.herobody {
  color: var(--new-styles-text-body-dark, #515251);
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: 0.2px;
}

.startUsingBtn {
  width: 220px;
  max-width: 100%;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: var(--new-styles-primary-eazi-green, #11453b);
  box-shadow: 0px 8px 16px 0px rgba(17, 69, 59, 0.2);
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

.downloadText {
  color: #000;

  /* Caption/Sub Header/H5/Medium */
  font-family: Aeonik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.startUsingBtnText {
  color: var(--new-styles-shades-white, #fff);
  /* Button/Button */
  font-family: Aeonik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

.heroDownloadBtn {
  max-height: 45%;
  height: 70px;
  background: var(--new-styles-shades-white, #fff);
  border-radius: 8px;
  /* Elevations/Light Mode/Light 5 */
  box-shadow: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
  padding: 12px;
  align-items: center;
}

.sectionbuisnessheader {
  color: var(--new-styles-primary-eazi-green, #11453b);
  text-align: center;
  font-family: MADE Mellow PERSONAL USE;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 100% */
}

.sectionbuisnesscaption {
  color: var(--new-styles-text-heading, #292a29);
  text-align: center;
  /* Caption/Sub Header/H4/Regular */
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

.sectionbuisnessfooter {
  color: var(--new-styles-text-body-dark, #515251);
  text-align: center;

  /* Caption/Sub Header/H4/Regular */
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

.sectionbuisnessfooteremail {
  color: var(--new-styles-secondary-strawberry, #ea4e4b);
}

.sectionHowitworkHeader {
  color: var(--new-styles-primary-eazi-green, #11453b);
  text-align: center;
  font-family: MADE Mellow PERSONAL USE;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 114.286% */
}

.sectionHowitworkcaption {
  color: var(--new-styles-text-body-dark, #515251);
  text-align: center;

  /* Header/H2/Regular */
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
}

.sectionforeverfreeheader {
  color: var(--new-styles-text-heading, #292a29);
  font-family: MADE Mellow PERSONAL USE;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 114.286% */
}

.sectionforeverfreeheaderred {
  color: var(--new-styles-secondary-strawberry, #ea4e4b);
}

.sectionFormMiniHeader {
  color: var(--new-styles-primary-eazi-green, #11453b);
  font-family: MADE Mellow PERSONAL USE;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
}

.sectionFormMiniCaption {
  color: var(--new-styles-text-body-dark, #515251);
  /* Header/H3/Regular */
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.sectionFormMainHeader {
  color: var(--new-styles-text-heading, #292a29);
  text-align: center;
  font-family: Aeonik-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px; /* 171.429% */
}

.sectionFormMainCaption {
  color: var(--old-styles-main-text-color, #444);
  text-align: center;

  /* Sub Header/H5/Regular */
  font-family: Aeonik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.formsectionToggleButton {
  text-align: center;
  padding: 8px 11.504px;
  justify-content: center;
  align-items: center;
  gap: 11.504px;
  width: 49%;
  display: inline-block;
  text-decoration: none;
}

.formsectionToggleButtonNotSelected {
  border-radius: 12px;
  background: var(--new-styles-grays-bg, #f2f1f1);
}

.formsectionToggleButtonSelected {
  border-radius: 12px;
  background: var(--new-styles-primary-eazi-green, #11453b);
}

.formButtonText {
  text-align: center;
  /* Body Medium/Medium */
  font-family: Aeonik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

.formButtonTextColorWhite {
  color: var(--new-styles-shades-white, #fff);
}

.formButtonTextColorBlack {
  color: var(--new-styles-text-body-dark, #515251);
}
