
.profileCardName {
  color: var(--secblack, #2b2b2b);

  /* Body/Normal/Bold */
  font-family: Aeonik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.profilePosition {
  color: var(--prygrey, #898989);

  /* Body/Small/2/Medium */
  font-family: Aeonik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.25px;
}

